{% load static %}
{% if c_agents %}
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Property Agents</h1>
        </div>
        <div class="row g-4">
            {% for agent in c_agents %}
            <div class="col-lg-3 col-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid" src="{{agent.image.url}}" alt="">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">

                            {% if agent.facebook %}
                            <a class="btn btn-square mx-1" href="{{agent.facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if agent.twitter %}
                            <a class="btn btn-square mx-1" href="{{agent.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if agent.instagram %}
                            <a class="btn btn-square mx-1" href="{{agent.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                            {% if agent.tiktok %}
                            <a class="btn btn-square mx-1" href="{{agent.tiktok}}" target="_blank"><i class="fab fa-tiktok"></i></a>
                            {% endif %}
                            {% if agent.skype %}
                            <a class="btn btn-square mx-1" href="{{agent.skype}}" target="_blank"><i class="fab fa-skype"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">{{agent.fullname}}</h5>
                        <p class="p-0 m-0">{{agent.city}}</p>
                        <p class="p-0 m-0">{{agent.phone}}</p>
                        <p class="p-0 m-0">{{agent.email}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if "/agents/" not in request.get_full_path %}
            <div class="col-12 text-center">
                <a class="btn btn-primary py-3 px-5" href="{% url 'agents_view' %}">Browse More Agent</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Team End -->
{% endif %}