{% extends './base.html' %}
{% load static %}
{% block content %}
<!-- Header Start -->
<div class="container-fluid header bg-white p-0 m-1">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">Contact Us</h1> 
                <nav aria-label="breadcrumb animated fadeIn">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-body active" aria-current="page">Contact Us</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 animated fadeIn">
            <img class="img-fluid" src="{% static '/img/ERSs.png' %}" alt="">
        </div>
    </div>
</div>
<!-- Header End -->

<!-- search start -->
<div class="container-xxl py-2 pt-4">
    <div class="container">
        <div class="text-center mx-auto mb-1 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-3">Search more property</h1>
            {% include '../includes/searchblock.html' %}
        </div>
    </div>
</div>
<!-- search end -->

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Contact Us</h1>
            <p>we are on lot of different platforms you can choose where you want to contact us. Fill the contact form below if you have any questions or List your property on our site.</p>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-light rounded p-2">
                            <div class="d-flex align-items-center bg-white rounded p-2" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                <div class="icon me-3" style="width: 45px; height: 45px;">
                                    <i class="fa fa-map-marker-alt text-primary"></i>
                                </div>
                                <span>Finance Chowk, Butwal, Lumbini, Nepal</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="bg-light rounded p-2">
                            <div class="d-flex align-items-center bg-white rounded p-2" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                <div class="icon me-3" style="width: 45px; height: 45px;">
                                    <i class="fa fa-envelope-open text-primary"></i>
                                </div>
                                <span>easyspacerealtors.esr@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="bg-light rounded p-2">
                            <div class="d-flex align-items-center bg-white rounded p-2" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                <div class="icon me-3" style="width: 45px; height: 45px;">
                                    <i class="fa fa-phone-alt text-primary"></i>
                                </div>
                                <span>+977 9857089240</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-light rounded p-2">
                            <div class="d-flex align-items-center bg-white rounded p-2" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                <a href="https://www.facebook.com/profile.php?id=100090965358156" target="_blank">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                        <i class="fab fa-facebook text-primary"></i>
                                    </div>
                                    <span>Easy Space Realtors</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-light rounded p-2">
                            <div class="d-flex align-items-center bg-white rounded p-2" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                <a href="https://www.instagram.com/easyspace.realtors/?fbclid=IwAR0npAxFWt6aqm-jmvwWgLbiqr77WSi9JV9nA_db28tBYeT5RRuzZQUZiKw" target="_blank">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                    <i class="fab fa-instagram text-primary"></i>
                                </div>
                                <span>easyspace.realtors</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-light rounded p-2">
                            <div class="d-flex align-items-center bg-white rounded p-2" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                <a href="https://www.tiktok.com/@easyspace.realtors?fbclid=IwAR2C_JN2wgF28FuwPyd2fBO_jtqV6EDueV6a0BOcOVgzbD7XM-ZOqUbKryw" target="_blank">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                    <i class="fab fa-tiktok text-primary"></i>
                                </div>
                                <span>easyspace.realtors</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1675.3201409890316!2d83.46474346867016!3d27.6874148091605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39968713579e5217%3A0xa5351a201aa80b98!2sLafa%20Digital%20%26%20Sticker%20House!5e0!3m2!1sen!2snp!4v1683653844204!5m2!1sen!2snp" height="450" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>
            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.5s">
                    <h2 class="mb-4">Contact Form</h2>
                    <p class="mb-4">Fill the form if you have anything to ask.</p>
                    <form action="{% url 'contact_view' %}" method="POST">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name" name="fullname">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email" name="email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px" name="message"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock content %}